<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Entre ou Cadastre-se</a>

      <a mat-list-item href="#">Criar anúncio</a>
      <a mat-list-item href="#">Meus anúncios</a>
      <a mat-list-item href="#">Minha conta</a>
      <a mat-list-item href="#">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="example-spacer"></span>
       <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/auth/login']">
         <mat-icon>login</mat-icon>
       </a>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
