.example-card {
  margin-bottom: 16px;
}

.image-car {
  height: 290px;
  object-fit: cover;
}

.label-price {
  position: absolute;
  top: 16px;
  background-color: #fff;
  right: 16px;
  font-size: 20px;
  padding: 2px 12px;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0px 0px 16px 2px #5d5d5d;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
